<style>
    .hik-edit-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
</style>
    <ol class="breadcrumb">
        <li><a href="?"><#LANG_HIKVISION_HOME#></a></li>
        <li class="active">[#model#]</li>
    </ol>
<div class="hik-edit-header">
    <img src="[#model_img#]" />
    <h2>[#model#]</h2>
</div>
<form id="hik-add-form">
    <fieldset>
        <div class="form-group">
            <label for="hik-address" class="control-label"><#LANG_HIKVISION_ADDRESS#></label>
            <input id="hik-address" class="form-control" type="text" name="address" value="[#address#]">
        </div>
        <div class="form-group">
            <label for="hik-username" class="control-label"><#LANG_HIKVISION_USERNAME#></label>
            <input id="hik-username" class="form-control" type="text" autocomplete="username" name="user_name" value="[#username#]">
        </div>
        <div class="form-group">
            <label for="hik-pass" class="control-label"><#LANG_HIKVISION_PASSWORD#></label>
            <input id="hik-pass" class="form-control" type="password" autocomplete="current-password" name="user_pass" value="[#password#]">
        </div>
        <div class="alert alert-danger" role="alert" id="hik-alert" style="display: none"></div>
        <div class="alert alert-success" role="alert" id="hik-info" style="display: none"></div>
    </fieldset>
    <button class="btn btn-primary "><#LANG_HIKVISION_SAVE#></button>
</form>
